<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Markov Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1>Markov Generator <small>Generate text</small></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">

          <div class="row">
              {% for author in authors%}
                  <div class="col-xs-4">
                      <a href="#" onclick="generate('{{ author.id }}')" class="thumbnail">
                        <img src="{{ author.image }}" alt="...">
                      </a>
                  </div>
              {% endfor %}
          </div>



        </div>
        <div class="col-xs-6">
          <div class="jumbotron">
              <h2 id="author">Author Name</h2>
              <p id="generated_text">Generated Text</p>
          </div>
        </div>
      </div>
      

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        function generate(author_id) {
            $.getJSON("generate/" + author_id, function(result){
                $.each(result, function(key, value){
                    $("#"+key).html(value);
                });
            });
        }
    </script>
  </body>
</html>
